# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# GMAIL_PASSWORD=your_Gmail_password
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]


# SECRET_KEY=your_secret_key_base_from_secrets.yml
# SECRET_KEY_TEST=your_test_secret_key_base_from_secrets.yml
