<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <%= render 'form' %>
      <%= link_to 'Cancel', user_memos_path, class: "btn btn-default" %>
    </div>

    <div class="col-md-4">
    </div>
  </div>
</div>
